<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= content_for?(:title) ? yield(:title) : "Ajs Play" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ajs Play" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" style="min-height: 100%;">
      <%= render 'layouts/messages' %>
      <div class="<%= params[:controller] %>__<%= params[:action] %>" style="top: -50px;">
        <%= yield %>
      </div>
      <br><br><br><br>
    </main>
    <footer>&nbsp;</footer>
  </body>
</html>
